* {
    text-align: center;
}

body {
    padding: 0;
    margin: 0;
}

hr {
    border-color: lightgray;
}

p {
    text-align: justify;
    margin: 0 2em;
}

footer {
    color: white;
    background-color: black;
    padding: 1em 0;
}

.top-section {
    background-color: royalblue;
    color: white;
    padding: 10px;
}

.mid-section {
    background-color: #49EB5A;
    padding: 10px;
}

.bot-section {
    margin: 0 0 2em 0;
}
/* -------------------------------------------------------------------
    Scroller Section: START
    ------------------------------------------------------------------- */
div.scroll-container {
    background-color: black;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 20px;
    border-radius: 8px;
}

.image-box img {
    display: inline-block;
    background: #f0f0f0;
    padding: 5px;
    margin: 20px;
    border-radius: 5px;
    transition: transform 0.2s;
    width: 500px; /* Scaled down the image size */
    height: auto; /* Maintain aspect ratio */
}

.image-box img:hover {
    transform: scale(1.05);
}
/* -------------------------------------------------------------------
    Scroller Section: END
    ------------------------------------------------------------------- */